.cell {
  padding: 7px;
  width: 32px;
  height: 32px;
}
body {
  padding: 20px;
}
.player-color {
  margin-right: 5px;
}
table,
td {
  border-collapse: collapse;
}
.letter {
  padding: 7px;
  width: 32px;
  height: 32px;
  font-size: 32px;
  border: black 1px solid;
  background-image: url(http://3.bp.blogspot.com/-V_yVhgaCrEI/UUa11hnUPdI/AAAAAAAAE9s/dxlTfXr1BU4/s1600/light-wood-pattern.jpg);
}
.board td {
  border: black 1px solid;
  padding: 7px;
}
.player-letters .span {
  width: 100%;
  float: none;
  clear: both;
}
.player-letters .letter {
  float: left;
}
