<html>
<head>
  <link rel="stylesheet" href="../resources/styles.css">
</head>
<body>
<!-- Screw you Seattle -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
  <script src="../scripts/constants.js" > </script>
  <script src="../scripts/scrabble.js"> </script>
  <script src="../scripts/game.js"> </script>
  <script src="../scripts/player.js"> </script>
</body>
</html>
