<html lang='en'>
<head>
  <link rel="stylesheet" href="../static/resources/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<form action="/game" id='game-form'>
  <div class="form-group">
    <label for="num-players-select">Number of Players</label>
    <select class="form-control" id="num-players-select">
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="form-group" id="players-select">

  </div>
  <button type="submit" class="btn btn-default">Let's Play!</button>

</form>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<script src="../static/scripts/constants.js" > </script>
<script src="../static/scripts/index.js"> </script>
</body>
</html>
