div,
td {
  box-sizing: border-box;
}
.c2L {
  background-color: #a3dbf6;
}
.c2W {
  background-color: #ffa7b6;
}
.c3L {
  background-color: #319ddb;
}
.c3W {
  background-color: #f4564d;
}
.cell {
  padding: 7px;
  font-size: 10px;
  text-align: center;
  width: 46px;
  height: 46px;
}
body {
  padding: 20px;
}
.player-color {
  margin-right: 5px;
}
table,
td {
  border-collapse: collapse;
}
.letter {
  padding: 7px;
  font-size: 10px;
  text-align: center;
  width: 46px;
  height: 46px;
  font-size: 26px;
  font-family: Helvetica;
  border: #e5c4a1 2px solid;
  border-radius: 6px;
  background-size: contain;
  background-image: url(http://4.bp.blogspot.com/-06IPFRCgmH0/VDuFtXJZZNI/AAAAAAAAGjw/K1ew83hDI_c/s1600/seamless-wood-pattern.jpgg);
}
.letter sub {
  font-size: 13px;
}
#board td {
  border: black 1px solid;
  height: 60px;
  width: 60px;
  padding: 7px;
}
#player-letters {
  height: 150px;
  width: 500px;
  padding: 5px;
  border: 1px black solid;
}
#player-letters #player-header {
  width: 100%;
  border-bottom: 1px black solid;
}
#player-letters #letter-rack {
  height: 46px;
  margin-top: 20px;
  padding: 7px;
  background-image: url(../resources/images/rack.png);
}
#player-letters .letter {
  float: left;
  margin: -15px 10px 15px 0px;
}
#player-letters #submit-turn {
  padding: 10px;
}
.draggable {
  cursor: pointer;
}
